<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Caisse App</title>
    <h1>Caisse App</h1>
</head>
<body>
 {% csrf_token %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button name="products" type="submit"> Accéder à la liste produits </button>
  </form>
  <br>
 {% csrf_token %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button name="delete_products" type="submit"> Supprimer la liste des produits </button>
  </form>
 <br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button name="tickets" type="submit"> Accéder à la liste des tickets </button>
  </form>
  <br>
 {% csrf_token %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button name="delete_tickets" type="submit"> Supprimer la liste des tickets </button>
  </form>
 <br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button name="prod" type="submit"> Mettre à jour la liste des produits </button>
  </form>
 <br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button name="scheduler" type="submit"> Scheduler la mise à jour de la liste des produits </button>
  </form>
 <br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file">
    <button  name="order" type="submit">Charger une commande client</button>
  </form>
    {%  if client != '' %}
        <p> <b>Client :</b> {{ client.firstName }} {{ client.lastName }}</p>
    {% endif %}
    <br>
    {%  if sum > 0 %}
        <p><b>Somme des prix de la commande client : </b>{{ sum }}€</p>
        <p><b>Points de fidélité disponibles :</b>  {{ fidelity_points }}</p>
        <p><b>Reduction:</b> {{ reduction }}€</p>
        <p><b> Prix total à payer: </b>{{ final_price }}€</p>
    {% endif %}
</body>
