<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Caisse App</title>
    <h1>Caisse App</h1>
</head>
<body>
 {% csrf_token %}
 <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit"> Mettre à jour la liste des produits </button>
  </form>
    <p>{{ string }} {{ time }} {{ helloworld }}</p>
    Liste des produits:
    {% for product in products %}
    <p> codeProduct: {{ product.name }}, Price: {{  product.price }} €</p>
    {%  endfor %}
</body>
</html>